.BodyLink {
  float: left;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  margin: 50px 0px;
}

.BodyLink-link {
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  border-style: round;
  border-radius: 30px;
  border: 2px solid #222;
  background-color: #efefef;

  /* Efecto de fade al pasar el raton por encima */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.BodyLink-link:hover {
  background-color: #42c5f4;
}