.Logo {
  position: relative;
  height: 80px;
}

.Logo-container-img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  
  height: 80px;
  border-radius: 50%;
  border: 3px solid #42c5f4;
}

.Logo-transition-enter {
  opacity: 0.01;
}

.Logo-transition-enter.Logo-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.Logo-transition-leave {
  opacity: 1;
}

.Logo-transition-leave.Logo-transition-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}