.Footer {
  position: absolute;
  display: table;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Footer-container {
  display: table-cell;
  vertical-align: middle;
}

.Footer-rights {
  text-align: left;
  float: left;
  margin-left: 5%;
}

.Footer-social {
  text-align: right;
  float: right;
  margin-right: 5%;
}