.MenuItem-link {
  color: #42c5f4;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  text-transform: uppercase;

  /* Efecto de fade al pasar el raton por encima */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.MenuItem-link:hover {
  color: #4174f4;
}