.AboutMe-content {
  display: flex;
  flex-direction: column;
}

.AboutMe-content-title {
  text-align: center;
}

.AboutMe-content-container-photo {
  float: left;
  width: 30%;
  height: 60%;
  border-radius: 20%;
  margin: 30px 20px 10px 0;
}

.AboutMe-content-container-textContainer {
  margin-left: 30px;
}

.AboutMe-content-container-textContainer-paragraph-cicelink {
  color: #e34ba1;
  
  /* Efecto de fade al pasar el raton por encima */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.AboutMe-content-container-textContainer-paragraph-cicelink:hover {
  color: #bc3e85;
}

.AboutMe-content-container-textContainer-paragraph-unitylink {
  color: #00bcd4;
  
  /* Efecto de fade al pasar el raton por encima */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.AboutMe-content-container-textContainer-paragraph-unitylink:hover {
  color: #0089d4;
}